<div>
    <div>
        <h1>Mensajes</h1>
        <div id="messages">

        </div>
    </div>
    <div>
        <input type="text" id="chatbox">
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</div>