<div>
    <h1>Real time!!</h1>

    <div>
        <form action="/realTimeProducts" method="post">
            <input type="text" placeholder="Nombre de producto" name="title" id="title">
            <input type="text" placeholder="Categoria de producto" name="category">
            <input type="text" placeholder="Descripcion del producto" name="description">
            <input type="number" placeholder="Precio" name="price">
            <input type="text" placeholder="Codigo de producto" name="code">
            <input type="number" placeholder="Stock de producto" name="stock">
            <input type="submit" value="Send" id="button">
        </form>
    </div>

<div>

</div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</div>